*
!examples
!src
!generator
!examples/*
!src/*
!generator/*
!examples/**
!src/**
!generator/**
!data_process
!data_process/*
!data_process/**
!dumpcap
!*.sh
!.gitignore
!.gitmodules
!makefile
!configs
!configs/*
!configs/**